.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    align-items: center;
    justify-content: space-between;
    background-color: #123E1D;
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

nav .nav-link {
    color: white;
}
  
nav .nav-link:hover, nav .nav-link:focus, nav .nav-link.active {
    color: #4E8E40;
}

.navbar .nav-item.dropdown .nav-link:focus, .navbar .nav-item.dropdown .nav-link:active, .navbar .nav-item.dropdown .nav-link.show {
    color: #4E8E40;
}
  
nav .dropdown-menu {
    background-color: #f5fbf5;
    border: none;
}
  
nav .dropdown-item {
    color: #133D1E;
}
  
nav .dropdown-item:hover, nav .dropdown-item:focus {
    background-color: #AAD6EF;
    color: #133D1E;
}

.navbar-toggler {
    border-color: white;
}
  
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.login-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: 400;
    transition: background-color 0.3s, color 0.3s;
}
  
.login-btn:hover {
    background-color: white;
    color: #133D1E;
}
  
.signup-btn {
    background-color: #4E8E40;
    border: 2px solid #4E8E40;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}
  
.signup-btn:hover {
    background-color: white;
    color: #133D1E;
    border: 2px solid white;
}