div.backgroundImg {
    background-image: url('src/assets/images/vector bg 1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-position: top center; /* OR try: top right, 20% 40%, etc. */
}



  
/* for loading */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 32, 23, 0.75); /* Semi-transparent green */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
.loading-motor {
    width: 180px;
    height: auto;
    animation: motorMove 1.5s infinite alternate;
}
  
@keyframes motorMove {
    0% { transform: translateX(0); }
    100% { transform: translateX(20px); }
}